<% provide(:title, "About") %>
<h1>About</h1>

<%= link_to image_tag("profile.jpg", alt: "A profile photo of Garrett Wang", width: "300px") %>

<p>
I am a portrait and fashion photographer based in Grinnell, 
IA. I am passionate about bringing the best of every individual using 
the language of photography. I believe people who are not 
professional models can shine just as brightly in front of 
cameras and deserve portraits of their own.
</p>


