<% provide(:title, "Help") %>
<h1>Help</h1>
<p>If you have any questions regarding any information on this website, please contact Garrett Wang directly</p>

<p>

This website is my first full-stack web app that has frontend, backend and database. 
It is developed using Ruby on Rail framework, strictly following MVC design pattern. 
Things that showcase my development skills include unit testing, dynamically 
generated contents, separation between HTML and CSS, partials on the view, etc. 
The development process started with Behavioral Driven Development (BDD) and then 
mostly followed Testing Driven Development (TDD). It also has a sign-up page which 
includes storing data to and reading data from database. When a record is about to be 
added to the database, data validation is enforced, and proper error message is 
prompted if an invalid input is provided by the user.

</p>
