<% provide(:title, "Home") %>
<h1>Home</h1>
<p>
Welcome to photopgraher Garrett Wang's home page! Hope you will enjoy!
Your dice number is <%= @result %>
</p>

<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

<br>
<br>
<br>

<%= link_to image_tag("home.jpg", alt: "home photo", width: "1000px") %>
