<header>
  <div class="navigation">
      <nav>
      <ul>
        <li id="logo"></li>
        <li id="myButton"><a href="/home.html">Home</a></li>
        <li id="myButton"><a href="/about.html">About</a></li>
        <li id="myButton"><a href="/help.html">Help</a></li>
      </ul>
      </nav>
    </div>
</header>
